<link href="~/css/styles.css" rel="stylesheet" type="text/css">

      <h1>@Model.GetLandmark()</h1>
      <h1 class="class1"> test text</h1>
      <img class="class1" src='@Model.GetImageUrl()'>

    <a href='/places/new'>Add another place</a>
    <a href='/'>View all places</a>
